/.config
/.github
.dockerignore
.env
.git
.gitignore
*.md
/LICENSE
.vs
.vscode
Dockerfile
docker-compose.yml
docker-compose.*.yml
*/bin
*/obj
/README.md
/data
/data_keycloak
/appsettings.json
/appsettings.Development.json
compose.yml
compose.*.yml
/OfficePlanner/wwwroot/bootstrap-icons
/OfficePlanner/wwwroot/bootstrap
/OfficePlanner/wwwroot/htmx
