.dockerignore
.env
.git
.gitignore
*.md
.vs
.vscode
*/bin
*/obj

/.config
/.github
/LICENSE
/Dockerfile
/Dockerfile.dev
/docker-compose.yml
/docker-compose.*.yml
/compose.yml
/compose.*.yml
/README.md
/data
/appsettings.json
/appsettings.*.json
/OfficePlanner/wwwroot/bootstrap-icons
/OfficePlanner/wwwroot/bootstrap
/OfficePlanner/wwwroot/htmx
